.post-feed .post-item {
  border: 2px solid #00ff00;
  border-radius: 10px;
  padding: 15px;
  align-items: flex-start;
  margin-bottom: 15px;
  margin-right: 40px;
  background-color: rgba(0,0,0,0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
  border: 1px solid #00ff88;
  box-shadow: 0 0 10px rgba(0, 255, 136, 0.5);
  outline: none;
}
.h2{
  margin-right:40px;
  outline:none;
  text-decoration:none;
  color: #7b1fa2; /* morado azulado */

}

.post-feed .post-item:hover {
  transform: translateY(-8px);
  border-color: #ce93d8;
  box-shadow: 0 0 20px rgba(206, 147, 216, 0.7);
  text-decoration: none;
  outline: none;
}
.post-thumb {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: space-between; /* Texto a la izquierda, imagen a la derecha */
  margin-right:20px;
  gap: 20px; /* Espacio entre texto e imagen */
}

.post-thumb img {
  width: 95px;
  height: 95px;

}

.post-thumb .post-text {
  flex: 1; /* El texto ocupa el espacio restante */
}
div {
  font-family: 'VT323', monospace;
  font-size: 15px; /* agrandar para que se note */
}
a:hover {
  text-decoration: none;
  color: #7b1fa2; /* morado azulado */
}
.site-footer {
  display: none !important;
}

